*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #849483;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 3rem;
    color: #B4656F;
    background-color: #C7F2A7;
}

#reset{
  background-color: black;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
}

#new-btn{
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px; 
    width: 100px;
}
.msg-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     gap: 2rem;

}

#msg{
    color: #ffc300;
    font-size: 7vmin;
}

.hide{
   display: none;
}